.demo_category { display: inline-block; vertical-align: top; padding: 0.5em; }
.demo_category table { border-spacing: 0px; border-collapse: collapse; border-style: hidden; }
.demo_category .demo_group { font-size: larger; font-weight: bold; width: 150px; }
.demo_category .demo_subgroup { width: 150px; }
.demo_category .demo_icons { width: 400px; background-color: gray; font-size: 0; padding: 0; }
.demo_category .demo_cats { width: 480px; background-color: gray; font-size: 0; padding: 0; }
.demo_category .demo_icon { display: inline-block; background-image: url("0.18.29.png"); background-repeat: no-repeat; margin: 4px; }
.demo_category .demo_cat_icon { display: inline-block; background-image: url("0.18.29_cat.png"); background-repeat: no-repeat; margin: 6px; }
.wooden-chest { width: 32px; height: 32px; background-position: 0px 0px; }
.iron-chest { width: 32px; height: 32px; background-position: -32px 0px; }
.steel-chest { width: 32px; height: 32px; background-position: -64px 0px; }
.storage-tank { width: 32px; height: 32px; background-position: -96px 0px; }
.transport-belt { width: 32px; height: 32px; background-position: -128px 0px; }
.fast-transport-belt { width: 32px; height: 32px; background-position: -160px 0px; }
.express-transport-belt { width: 32px; height: 32px; background-position: -192px 0px; }
.underground-belt { width: 32px; height: 32px; background-position: -224px 0px; }
.fast-underground-belt { width: 32px; height: 32px; background-position: -256px 0px; }
.express-underground-belt { width: 32px; height: 32px; background-position: -288px 0px; }
.splitter { width: 32px; height: 32px; background-position: -320px 0px; }
.fast-splitter { width: 32px; height: 32px; background-position: -352px 0px; }
.express-splitter { width: 32px; height: 32px; background-position: -384px 0px; }
.burner-inserter { width: 32px; height: 32px; background-position: -416px 0px; }
.inserter { width: 32px; height: 32px; background-position: -448px 0px; }
.long-handed-inserter { width: 32px; height: 32px; background-position: -480px 0px; }
.fast-inserter { width: 32px; height: 32px; background-position: 0px -32px; }
.filter-inserter { width: 32px; height: 32px; background-position: -32px -32px; }
.stack-inserter { width: 32px; height: 32px; background-position: -64px -32px; }
.stack-filter-inserter { width: 32px; height: 32px; background-position: -96px -32px; }
.small-electric-pole { width: 32px; height: 32px; background-position: -128px -32px; }
.medium-electric-pole { width: 32px; height: 32px; background-position: -160px -32px; }
.big-electric-pole { width: 32px; height: 32px; background-position: -192px -32px; }
.substation { width: 32px; height: 32px; background-position: -224px -32px; }
.pipe { width: 32px; height: 32px; background-position: -256px -32px; }
.pipe-to-ground { width: 32px; height: 32px; background-position: -288px -32px; }
.pump { width: 32px; height: 32px; background-position: -320px -32px; }
.rail { width: 32px; height: 32px; background-position: -352px -32px; }
.train-stop { width: 32px; height: 32px; background-position: -384px -32px; }
.rail-signal { width: 32px; height: 32px; background-position: -416px -32px; }
.rail-chain-signal { width: 32px; height: 32px; background-position: -448px -32px; }
.locomotive { width: 32px; height: 32px; background-position: -480px -32px; }
.cargo-wagon { width: 32px; height: 32px; background-position: 0px -64px; }
.fluid-wagon { width: 32px; height: 32px; background-position: -32px -64px; }
.artillery-wagon { width: 32px; height: 32px; background-position: -64px -64px; }
.car { width: 32px; height: 32px; background-position: -96px -64px; }
.tank { width: 32px; height: 32px; background-position: -128px -64px; }
.logistic-robot { width: 32px; height: 32px; background-position: -160px -64px; }
.construction-robot { width: 32px; height: 32px; background-position: -192px -64px; }
.logistic-chest-active-provider { width: 32px; height: 32px; background-position: -224px -64px; }
.logistic-chest-passive-provider { width: 32px; height: 32px; background-position: -256px -64px; }
.logistic-chest-storage { width: 32px; height: 32px; background-position: -288px -64px; }
.logistic-chest-buffer { width: 32px; height: 32px; background-position: -320px -64px; }
.logistic-chest-requester { width: 32px; height: 32px; background-position: -352px -64px; }
.roboport { width: 32px; height: 32px; background-position: -384px -64px; }
.small-lamp { width: 32px; height: 32px; background-position: -416px -64px; }
.red-wire { width: 32px; height: 32px; background-position: -448px -64px; }
.green-wire { width: 32px; height: 32px; background-position: -480px -64px; }
.arithmetic-combinator { width: 32px; height: 32px; background-position: 0px -96px; }
.decider-combinator { width: 32px; height: 32px; background-position: -32px -96px; }
.constant-combinator { width: 32px; height: 32px; background-position: -64px -96px; }
.power-switch { width: 32px; height: 32px; background-position: -96px -96px; }
.programmable-speaker { width: 32px; height: 32px; background-position: -128px -96px; }
.stone-brick { width: 32px; height: 32px; background-position: -160px -96px; }
.concrete { width: 32px; height: 32px; background-position: -192px -96px; }
.hazard-concrete { width: 32px; height: 32px; background-position: -224px -96px; }
.refined-concrete { width: 32px; height: 32px; background-position: -256px -96px; }
.refined-hazard-concrete { width: 32px; height: 32px; background-position: -288px -96px; }
.landfill { width: 32px; height: 32px; background-position: -320px -96px; }
.cliff-explosives { width: 32px; height: 32px; background-position: -352px -96px; }
.repair-pack { width: 32px; height: 32px; background-position: -384px -96px; }
.boiler { width: 32px; height: 32px; background-position: -416px -96px; }
.steam-engine { width: 32px; height: 32px; background-position: -448px -96px; }
.solar-panel { width: 32px; height: 32px; background-position: -480px -96px; }
.accumulator { width: 32px; height: 32px; background-position: 0px -128px; }
.nuclear-reactor { width: 32px; height: 32px; background-position: -32px -128px; }
.heat-pipe { width: 32px; height: 32px; background-position: -64px -128px; }
.heat-exchanger { width: 32px; height: 32px; background-position: -96px -128px; }
.steam-turbine { width: 32px; height: 32px; background-position: -128px -128px; }
.burner-mining-drill { width: 32px; height: 32px; background-position: -160px -128px; }
.electric-mining-drill { width: 32px; height: 32px; background-position: -192px -128px; }
.offshore-pump { width: 32px; height: 32px; background-position: -224px -128px; }
.pumpjack { width: 32px; height: 32px; background-position: -256px -128px; }
.stone-furnace { width: 32px; height: 32px; background-position: -288px -128px; }
.steel-furnace { width: 32px; height: 32px; background-position: -320px -128px; }
.electric-furnace { width: 32px; height: 32px; background-position: -352px -128px; }
.assembling-machine-1 { width: 32px; height: 32px; background-position: -384px -128px; }
.assembling-machine-2 { width: 32px; height: 32px; background-position: -416px -128px; }
.assembling-machine-3 { width: 32px; height: 32px; background-position: -448px -128px; }
.oil-refinery { width: 32px; height: 32px; background-position: -480px -128px; }
.chemical-plant { width: 32px; height: 32px; background-position: 0px -160px; }
.centrifuge { width: 32px; height: 32px; background-position: -32px -160px; }
.lab { width: 32px; height: 32px; background-position: -64px -160px; }
.beacon { width: 32px; height: 32px; background-position: -96px -160px; }
.speed-module { width: 32px; height: 32px; background-position: -128px -160px; }
.speed-module-2 { width: 32px; height: 32px; background-position: -160px -160px; }
.speed-module-3 { width: 32px; height: 32px; background-position: -192px -160px; }
.effectivity-module { width: 32px; height: 32px; background-position: -224px -160px; }
.effectivity-module-2 { width: 32px; height: 32px; background-position: -256px -160px; }
.effectivity-module-3 { width: 32px; height: 32px; background-position: -288px -160px; }
.productivity-module { width: 32px; height: 32px; background-position: -320px -160px; }
.productivity-module-2 { width: 32px; height: 32px; background-position: -352px -160px; }
.productivity-module-3 { width: 32px; height: 32px; background-position: -384px -160px; }
.sulfuric-acid { width: 32px; height: 32px; background-position: -416px -160px; }
.basic-oil-processing { width: 32px; height: 32px; background-position: -448px -160px; }
.advanced-oil-processing { width: 32px; height: 32px; background-position: -480px -160px; }
.coal-liquefaction { width: 32px; height: 32px; background-position: 0px -192px; }
.heavy-oil-cracking { width: 32px; height: 32px; background-position: -32px -192px; }
.light-oil-cracking { width: 32px; height: 32px; background-position: -64px -192px; }
.solid-fuel-from-light-oil { width: 32px; height: 32px; background-position: -96px -192px; }
.solid-fuel-from-petroleum-gas { width: 32px; height: 32px; background-position: -128px -192px; }
.solid-fuel-from-heavy-oil { width: 32px; height: 32px; background-position: -160px -192px; }
.lubricant { width: 32px; height: 32px; background-position: -192px -192px; }
.iron-plate { width: 32px; height: 32px; background-position: -224px -192px; }
.copper-plate { width: 32px; height: 32px; background-position: -256px -192px; }
.steel-plate { width: 32px; height: 32px; background-position: -288px -192px; }
.plastic-bar { width: 32px; height: 32px; background-position: -320px -192px; }
.sulfur { width: 32px; height: 32px; background-position: -352px -192px; }
.battery { width: 32px; height: 32px; background-position: -384px -192px; }
.explosives { width: 32px; height: 32px; background-position: -416px -192px; }
.uranium-processing { width: 32px; height: 32px; background-position: -448px -192px; }
.fill-crude-oil-barrel { width: 32px; height: 32px; background-position: -480px -192px; }
.fill-heavy-oil-barrel { width: 32px; height: 32px; background-position: 0px -224px; }
.fill-light-oil-barrel { width: 32px; height: 32px; background-position: -32px -224px; }
.fill-lubricant-barrel { width: 32px; height: 32px; background-position: -64px -224px; }
.fill-petroleum-gas-barrel { width: 32px; height: 32px; background-position: -96px -224px; }
.fill-sulfuric-acid-barrel { width: 32px; height: 32px; background-position: -128px -224px; }
.fill-water-barrel { width: 32px; height: 32px; background-position: -160px -224px; }
.empty-crude-oil-barrel { width: 32px; height: 32px; background-position: -192px -224px; }
.empty-heavy-oil-barrel { width: 32px; height: 32px; background-position: -224px -224px; }
.empty-light-oil-barrel { width: 32px; height: 32px; background-position: -256px -224px; }
.empty-lubricant-barrel { width: 32px; height: 32px; background-position: -288px -224px; }
.empty-petroleum-gas-barrel { width: 32px; height: 32px; background-position: -320px -224px; }
.empty-sulfuric-acid-barrel { width: 32px; height: 32px; background-position: -352px -224px; }
.empty-water-barrel { width: 32px; height: 32px; background-position: -384px -224px; }
.copper-cable { width: 32px; height: 32px; background-position: -416px -224px; }
.iron-stick { width: 32px; height: 32px; background-position: -448px -224px; }
.iron-gear-wheel { width: 32px; height: 32px; background-position: -480px -224px; }
.empty-barrel { width: 32px; height: 32px; background-position: 0px -256px; }
.electronic-circuit { width: 32px; height: 32px; background-position: -32px -256px; }
.advanced-circuit { width: 32px; height: 32px; background-position: -64px -256px; }
.processing-unit { width: 32px; height: 32px; background-position: -96px -256px; }
.engine-unit { width: 32px; height: 32px; background-position: -128px -256px; }
.electric-engine-unit { width: 32px; height: 32px; background-position: -160px -256px; }
.flying-robot-frame { width: 32px; height: 32px; background-position: -192px -256px; }
.satellite { width: 32px; height: 32px; background-position: -224px -256px; }
.rocket-control-unit { width: 32px; height: 32px; background-position: -256px -256px; }
.low-density-structure { width: 32px; height: 32px; background-position: -288px -256px; }
.rocket-fuel { width: 32px; height: 32px; background-position: -320px -256px; }
.nuclear-fuel { width: 32px; height: 32px; background-position: -352px -256px; }
.uranium-fuel-cell { width: 32px; height: 32px; background-position: -384px -256px; }
.nuclear-fuel-reprocessing { width: 32px; height: 32px; background-position: -416px -256px; }
.kovarex-enrichment-process { width: 32px; height: 32px; background-position: -448px -256px; }
.automation-science-pack { width: 32px; height: 32px; background-position: -480px -256px; }
.logistic-science-pack { width: 32px; height: 32px; background-position: 0px -288px; }
.military-science-pack { width: 32px; height: 32px; background-position: -32px -288px; }
.chemical-science-pack { width: 32px; height: 32px; background-position: -64px -288px; }
.production-science-pack { width: 32px; height: 32px; background-position: -96px -288px; }
.utility-science-pack { width: 32px; height: 32px; background-position: -128px -288px; }
.pistol { width: 32px; height: 32px; background-position: -160px -288px; }
.submachine-gun { width: 32px; height: 32px; background-position: -192px -288px; }
.shotgun { width: 32px; height: 32px; background-position: -224px -288px; }
.combat-shotgun { width: 32px; height: 32px; background-position: -256px -288px; }
.rocket-launcher { width: 32px; height: 32px; background-position: -288px -288px; }
.flamethrower { width: 32px; height: 32px; background-position: -320px -288px; }
.land-mine { width: 32px; height: 32px; background-position: -352px -288px; }
.firearm-magazine { width: 32px; height: 32px; background-position: -384px -288px; }
.piercing-rounds-magazine { width: 32px; height: 32px; background-position: -416px -288px; }
.uranium-rounds-magazine { width: 32px; height: 32px; background-position: -448px -288px; }
.shotgun-shell { width: 32px; height: 32px; background-position: -480px -288px; }
.piercing-shotgun-shell { width: 32px; height: 32px; background-position: 0px -320px; }
.cannon-shell { width: 32px; height: 32px; background-position: -32px -320px; }
.explosive-cannon-shell { width: 32px; height: 32px; background-position: -64px -320px; }
.uranium-cannon-shell { width: 32px; height: 32px; background-position: -96px -320px; }
.explosive-uranium-cannon-shell { width: 32px; height: 32px; background-position: -128px -320px; }
.artillery-shell { width: 32px; height: 32px; background-position: -160px -320px; }
.rocket { width: 32px; height: 32px; background-position: -192px -320px; }
.explosive-rocket { width: 32px; height: 32px; background-position: -224px -320px; }
.atomic-bomb { width: 32px; height: 32px; background-position: -256px -320px; }
.flamethrower-ammo { width: 32px; height: 32px; background-position: -288px -320px; }
.grenade { width: 32px; height: 32px; background-position: -320px -320px; }
.cluster-grenade { width: 32px; height: 32px; background-position: -352px -320px; }
.poison-capsule { width: 32px; height: 32px; background-position: -384px -320px; }
.slowdown-capsule { width: 32px; height: 32px; background-position: -416px -320px; }
.defender-capsule { width: 32px; height: 32px; background-position: -448px -320px; }
.distractor-capsule { width: 32px; height: 32px; background-position: -480px -320px; }
.destroyer-capsule { width: 32px; height: 32px; background-position: 0px -352px; }
.discharge-defense-remote { width: 32px; height: 32px; background-position: -32px -352px; }
.artillery-targeting-remote { width: 32px; height: 32px; background-position: -64px -352px; }
.light-armor { width: 32px; height: 32px; background-position: -96px -352px; }
.heavy-armor { width: 32px; height: 32px; background-position: -128px -352px; }
.modular-armor { width: 32px; height: 32px; background-position: -160px -352px; }
.power-armor { width: 32px; height: 32px; background-position: -192px -352px; }
.power-armor-mk2 { width: 32px; height: 32px; background-position: -224px -352px; }
.solar-panel-equipment { width: 32px; height: 32px; background-position: -256px -352px; }
.fusion-reactor-equipment { width: 32px; height: 32px; background-position: -288px -352px; }
.energy-shield-equipment { width: 32px; height: 32px; background-position: -320px -352px; }
.energy-shield-mk2-equipment { width: 32px; height: 32px; background-position: -352px -352px; }
.battery-equipment { width: 32px; height: 32px; background-position: -384px -352px; }
.battery-mk2-equipment { width: 32px; height: 32px; background-position: -416px -352px; }
.personal-laser-defense-equipment { width: 32px; height: 32px; background-position: -448px -352px; }
.discharge-defense-equipment { width: 32px; height: 32px; background-position: -480px -352px; }
.belt-immunity-equipment { width: 32px; height: 32px; background-position: 0px -384px; }
.exoskeleton-equipment { width: 32px; height: 32px; background-position: -32px -384px; }
.personal-roboport-equipment { width: 32px; height: 32px; background-position: -64px -384px; }
.personal-roboport-mk2-equipment { width: 32px; height: 32px; background-position: -96px -384px; }
.night-vision-equipment { width: 32px; height: 32px; background-position: -128px -384px; }
.stone-wall { width: 32px; height: 32px; background-position: -160px -384px; }
.gate { width: 32px; height: 32px; background-position: -192px -384px; }
.gun-turret { width: 32px; height: 32px; background-position: -224px -384px; }
.laser-turret { width: 32px; height: 32px; background-position: -256px -384px; }
.flamethrower-turret { width: 32px; height: 32px; background-position: -288px -384px; }
.artillery-turret { width: 32px; height: 32px; background-position: -320px -384px; }
.radar { width: 32px; height: 32px; background-position: -352px -384px; }
.rocket-silo { width: 32px; height: 32px; background-position: -384px -384px; }
.wood { width: 32px; height: 32px; background-position: -416px -384px; }
.coal { width: 32px; height: 32px; background-position: -448px -384px; }
.stone { width: 32px; height: 32px; background-position: -480px -384px; }
.iron-ore { width: 32px; height: 32px; background-position: 0px -416px; }
.copper-ore { width: 32px; height: 32px; background-position: -32px -416px; }
.uranium-ore { width: 32px; height: 32px; background-position: -64px -416px; }
.raw-fish { width: 32px; height: 32px; background-position: -96px -416px; }
.solid-fuel { width: 32px; height: 32px; background-position: -128px -416px; }
.crude-oil-barrel { width: 32px; height: 32px; background-position: -160px -416px; }
.heavy-oil-barrel { width: 32px; height: 32px; background-position: -192px -416px; }
.light-oil-barrel { width: 32px; height: 32px; background-position: -224px -416px; }
.lubricant-barrel { width: 32px; height: 32px; background-position: -256px -416px; }
.petroleum-gas-barrel { width: 32px; height: 32px; background-position: -288px -416px; }
.sulfuric-acid-barrel { width: 32px; height: 32px; background-position: -320px -416px; }
.water-barrel { width: 32px; height: 32px; background-position: -352px -416px; }
.uranium-235 { width: 32px; height: 32px; background-position: -384px -416px; }
.uranium-238 { width: 32px; height: 32px; background-position: -416px -416px; }
.used-up-uranium-fuel-cell { width: 32px; height: 32px; background-position: -448px -416px; }
.space-science-pack { width: 32px; height: 32px; background-position: -480px -416px; }
.water { width: 32px; height: 32px; background-position: 0px -448px; }
.crude-oil { width: 32px; height: 32px; background-position: -32px -448px; }
.steam { width: 32px; height: 32px; background-position: -64px -448px; }
.heavy-oil { width: 32px; height: 32px; background-position: -96px -448px; }
.light-oil { width: 32px; height: 32px; background-position: -128px -448px; }
.petroleum-gas { width: 32px; height: 32px; background-position: -160px -448px; }
.module { width: 32px; height: 32px; background-position: -192px -448px; }
.time { width: 32px; height: 32px; background-position: -224px -448px; }
.other { width: 64px; height: 64px; background-position: 0px 0px; }
.logistics { width: 64px; height: 64px; background-position: -64px 0px; }
.production { width: 64px; height: 64px; background-position: -128px 0px; }
.combat { width: 64px; height: 64px; background-position: 0px -64px; }
.intermediate-products { width: 64px; height: 64px; background-position: -64px -64px; }
