.demo_category { display: inline-block; vertical-align: top; padding: 0.5em; }
.demo_category table { border-spacing: 0px; border-collapse: collapse; border-style: hidden; }
.demo_category .demo_group { font-size: larger; font-weight: bold; width: 150px; }
.demo_category .demo_subgroup { width: 150px; }
.demo_category .demo_icons { width: 800px; background-color: gray; gray; font-size: 0; padding: 0; }
.demo_category .demo_cats { width: 720px; background-color: gray; gray; font-size: 0; padding: 0; }
.demo_category .demo_icon { display: inline-block; background-image: url("0.18.28_64px.png"); background-repeat: no-repeat; margin: 8px; }
.demo_category .demo_cat_icon { display: inline-block; background-image: url("0.18.28_cat_64px.png"); background-repeat: no-repeat; margin: 12px; }
.wooden-chest { width: 64px; height: 64px; background-position: 0px 0px; }
.iron-chest { width: 64px; height: 64px; background-position: -64px 0px; }
.steel-chest { width: 64px; height: 64px; background-position: -128px 0px; }
.storage-tank { width: 64px; height: 64px; background-position: -192px 0px; }
.transport-belt { width: 64px; height: 64px; background-position: -256px 0px; }
.fast-transport-belt { width: 64px; height: 64px; background-position: -320px 0px; }
.express-transport-belt { width: 64px; height: 64px; background-position: -384px 0px; }
.underground-belt { width: 64px; height: 64px; background-position: -448px 0px; }
.fast-underground-belt { width: 64px; height: 64px; background-position: -512px 0px; }
.express-underground-belt { width: 64px; height: 64px; background-position: -576px 0px; }
.splitter { width: 64px; height: 64px; background-position: -640px 0px; }
.fast-splitter { width: 64px; height: 64px; background-position: -704px 0px; }
.express-splitter { width: 64px; height: 64px; background-position: -768px 0px; }
.burner-inserter { width: 64px; height: 64px; background-position: -832px 0px; }
.inserter { width: 64px; height: 64px; background-position: -896px 0px; }
.long-handed-inserter { width: 64px; height: 64px; background-position: -960px 0px; }
.fast-inserter { width: 64px; height: 64px; background-position: 0px -64px; }
.filter-inserter { width: 64px; height: 64px; background-position: -64px -64px; }
.stack-inserter { width: 64px; height: 64px; background-position: -128px -64px; }
.stack-filter-inserter { width: 64px; height: 64px; background-position: -192px -64px; }
.small-electric-pole { width: 64px; height: 64px; background-position: -256px -64px; }
.medium-electric-pole { width: 64px; height: 64px; background-position: -320px -64px; }
.big-electric-pole { width: 64px; height: 64px; background-position: -384px -64px; }
.substation { width: 64px; height: 64px; background-position: -448px -64px; }
.pipe { width: 64px; height: 64px; background-position: -512px -64px; }
.pipe-to-ground { width: 64px; height: 64px; background-position: -576px -64px; }
.pump { width: 64px; height: 64px; background-position: -640px -64px; }
.rail { width: 64px; height: 64px; background-position: -704px -64px; }
.train-stop { width: 64px; height: 64px; background-position: -768px -64px; }
.rail-signal { width: 64px; height: 64px; background-position: -832px -64px; }
.rail-chain-signal { width: 64px; height: 64px; background-position: -896px -64px; }
.locomotive { width: 64px; height: 64px; background-position: -960px -64px; }
.cargo-wagon { width: 64px; height: 64px; background-position: 0px -128px; }
.fluid-wagon { width: 64px; height: 64px; background-position: -64px -128px; }
.artillery-wagon { width: 64px; height: 64px; background-position: -128px -128px; }
.car { width: 64px; height: 64px; background-position: -192px -128px; }
.tank { width: 64px; height: 64px; background-position: -256px -128px; }
.logistic-robot { width: 64px; height: 64px; background-position: -320px -128px; }
.construction-robot { width: 64px; height: 64px; background-position: -384px -128px; }
.logistic-chest-active-provider { width: 64px; height: 64px; background-position: -448px -128px; }
.logistic-chest-passive-provider { width: 64px; height: 64px; background-position: -512px -128px; }
.logistic-chest-storage { width: 64px; height: 64px; background-position: -576px -128px; }
.logistic-chest-buffer { width: 64px; height: 64px; background-position: -640px -128px; }
.logistic-chest-requester { width: 64px; height: 64px; background-position: -704px -128px; }
.roboport { width: 64px; height: 64px; background-position: -768px -128px; }
.small-lamp { width: 64px; height: 64px; background-position: -832px -128px; }
.red-wire { width: 64px; height: 64px; background-position: -896px -128px; }
.green-wire { width: 64px; height: 64px; background-position: -960px -128px; }
.arithmetic-combinator { width: 64px; height: 64px; background-position: 0px -192px; }
.decider-combinator { width: 64px; height: 64px; background-position: -64px -192px; }
.constant-combinator { width: 64px; height: 64px; background-position: -128px -192px; }
.power-switch { width: 64px; height: 64px; background-position: -192px -192px; }
.programmable-speaker { width: 64px; height: 64px; background-position: -256px -192px; }
.stone-brick { width: 64px; height: 64px; background-position: -320px -192px; }
.concrete { width: 64px; height: 64px; background-position: -384px -192px; }
.hazard-concrete { width: 64px; height: 64px; background-position: -448px -192px; }
.refined-concrete { width: 64px; height: 64px; background-position: -512px -192px; }
.refined-hazard-concrete { width: 64px; height: 64px; background-position: -576px -192px; }
.landfill { width: 64px; height: 64px; background-position: -640px -192px; }
.cliff-explosives { width: 64px; height: 64px; background-position: -704px -192px; }
.repair-pack { width: 64px; height: 64px; background-position: -768px -192px; }
.boiler { width: 64px; height: 64px; background-position: -832px -192px; }
.steam-engine { width: 64px; height: 64px; background-position: -896px -192px; }
.solar-panel { width: 64px; height: 64px; background-position: -960px -192px; }
.accumulator { width: 64px; height: 64px; background-position: 0px -256px; }
.nuclear-reactor { width: 64px; height: 64px; background-position: -64px -256px; }
.heat-pipe { width: 64px; height: 64px; background-position: -128px -256px; }
.heat-exchanger { width: 64px; height: 64px; background-position: -192px -256px; }
.steam-turbine { width: 64px; height: 64px; background-position: -256px -256px; }
.burner-mining-drill { width: 64px; height: 64px; background-position: -320px -256px; }
.electric-mining-drill { width: 64px; height: 64px; background-position: -384px -256px; }
.offshore-pump { width: 64px; height: 64px; background-position: -448px -256px; }
.pumpjack { width: 64px; height: 64px; background-position: -512px -256px; }
.stone-furnace { width: 64px; height: 64px; background-position: -576px -256px; }
.steel-furnace { width: 64px; height: 64px; background-position: -640px -256px; }
.electric-furnace { width: 64px; height: 64px; background-position: -704px -256px; }
.assembling-machine-1 { width: 64px; height: 64px; background-position: -768px -256px; }
.assembling-machine-2 { width: 64px; height: 64px; background-position: -832px -256px; }
.assembling-machine-3 { width: 64px; height: 64px; background-position: -896px -256px; }
.oil-refinery { width: 64px; height: 64px; background-position: -960px -256px; }
.chemical-plant { width: 64px; height: 64px; background-position: 0px -320px; }
.centrifuge { width: 64px; height: 64px; background-position: -64px -320px; }
.lab { width: 64px; height: 64px; background-position: -128px -320px; }
.beacon { width: 64px; height: 64px; background-position: -192px -320px; }
.speed-module { width: 64px; height: 64px; background-position: -256px -320px; }
.speed-module-2 { width: 64px; height: 64px; background-position: -320px -320px; }
.speed-module-3 { width: 64px; height: 64px; background-position: -384px -320px; }
.effectivity-module { width: 64px; height: 64px; background-position: -448px -320px; }
.effectivity-module-2 { width: 64px; height: 64px; background-position: -512px -320px; }
.effectivity-module-3 { width: 64px; height: 64px; background-position: -576px -320px; }
.productivity-module { width: 64px; height: 64px; background-position: -640px -320px; }
.productivity-module-2 { width: 64px; height: 64px; background-position: -704px -320px; }
.productivity-module-3 { width: 64px; height: 64px; background-position: -768px -320px; }
.sulfuric-acid { width: 64px; height: 64px; background-position: -832px -320px; }
.basic-oil-processing { width: 64px; height: 64px; background-position: -896px -320px; }
.advanced-oil-processing { width: 64px; height: 64px; background-position: -960px -320px; }
.coal-liquefaction { width: 64px; height: 64px; background-position: 0px -384px; }
.heavy-oil-cracking { width: 64px; height: 64px; background-position: -64px -384px; }
.light-oil-cracking { width: 64px; height: 64px; background-position: -128px -384px; }
.solid-fuel-from-light-oil { width: 64px; height: 64px; background-position: -192px -384px; }
.solid-fuel-from-petroleum-gas { width: 64px; height: 64px; background-position: -256px -384px; }
.solid-fuel-from-heavy-oil { width: 64px; height: 64px; background-position: -320px -384px; }
.lubricant { width: 64px; height: 64px; background-position: -384px -384px; }
.iron-plate { width: 64px; height: 64px; background-position: -448px -384px; }
.copper-plate { width: 64px; height: 64px; background-position: -512px -384px; }
.steel-plate { width: 64px; height: 64px; background-position: -576px -384px; }
.plastic-bar { width: 64px; height: 64px; background-position: -640px -384px; }
.sulfur { width: 64px; height: 64px; background-position: -704px -384px; }
.battery { width: 64px; height: 64px; background-position: -768px -384px; }
.explosives { width: 64px; height: 64px; background-position: -832px -384px; }
.uranium-processing { width: 64px; height: 64px; background-position: -896px -384px; }
.fill-crude-oil-barrel { width: 64px; height: 64px; background-position: -960px -384px; }
.fill-heavy-oil-barrel { width: 64px; height: 64px; background-position: 0px -448px; }
.fill-light-oil-barrel { width: 64px; height: 64px; background-position: -64px -448px; }
.fill-lubricant-barrel { width: 64px; height: 64px; background-position: -128px -448px; }
.fill-petroleum-gas-barrel { width: 64px; height: 64px; background-position: -192px -448px; }
.fill-sulfuric-acid-barrel { width: 64px; height: 64px; background-position: -256px -448px; }
.fill-water-barrel { width: 64px; height: 64px; background-position: -320px -448px; }
.empty-crude-oil-barrel { width: 64px; height: 64px; background-position: -384px -448px; }
.empty-heavy-oil-barrel { width: 64px; height: 64px; background-position: -448px -448px; }
.empty-light-oil-barrel { width: 64px; height: 64px; background-position: -512px -448px; }
.empty-lubricant-barrel { width: 64px; height: 64px; background-position: -576px -448px; }
.empty-petroleum-gas-barrel { width: 64px; height: 64px; background-position: -640px -448px; }
.empty-sulfuric-acid-barrel { width: 64px; height: 64px; background-position: -704px -448px; }
.empty-water-barrel { width: 64px; height: 64px; background-position: -768px -448px; }
.copper-cable { width: 64px; height: 64px; background-position: -832px -448px; }
.iron-stick { width: 64px; height: 64px; background-position: -896px -448px; }
.iron-gear-wheel { width: 64px; height: 64px; background-position: -960px -448px; }
.empty-barrel { width: 64px; height: 64px; background-position: 0px -512px; }
.electronic-circuit { width: 64px; height: 64px; background-position: -64px -512px; }
.advanced-circuit { width: 64px; height: 64px; background-position: -128px -512px; }
.processing-unit { width: 64px; height: 64px; background-position: -192px -512px; }
.engine-unit { width: 64px; height: 64px; background-position: -256px -512px; }
.electric-engine-unit { width: 64px; height: 64px; background-position: -320px -512px; }
.flying-robot-frame { width: 64px; height: 64px; background-position: -384px -512px; }
.satellite { width: 64px; height: 64px; background-position: -448px -512px; }
.rocket-control-unit { width: 64px; height: 64px; background-position: -512px -512px; }
.low-density-structure { width: 64px; height: 64px; background-position: -576px -512px; }
.rocket-fuel { width: 64px; height: 64px; background-position: -640px -512px; }
.nuclear-fuel { width: 64px; height: 64px; background-position: -704px -512px; }
.uranium-fuel-cell { width: 64px; height: 64px; background-position: -768px -512px; }
.nuclear-fuel-reprocessing { width: 64px; height: 64px; background-position: -832px -512px; }
.kovarex-enrichment-process { width: 64px; height: 64px; background-position: -896px -512px; }
.automation-science-pack { width: 64px; height: 64px; background-position: -960px -512px; }
.logistic-science-pack { width: 64px; height: 64px; background-position: 0px -576px; }
.military-science-pack { width: 64px; height: 64px; background-position: -64px -576px; }
.chemical-science-pack { width: 64px; height: 64px; background-position: -128px -576px; }
.production-science-pack { width: 64px; height: 64px; background-position: -192px -576px; }
.utility-science-pack { width: 64px; height: 64px; background-position: -256px -576px; }
.pistol { width: 64px; height: 64px; background-position: -320px -576px; }
.submachine-gun { width: 64px; height: 64px; background-position: -384px -576px; }
.shotgun { width: 64px; height: 64px; background-position: -448px -576px; }
.combat-shotgun { width: 64px; height: 64px; background-position: -512px -576px; }
.rocket-launcher { width: 64px; height: 64px; background-position: -576px -576px; }
.flamethrower { width: 64px; height: 64px; background-position: -640px -576px; }
.land-mine { width: 64px; height: 64px; background-position: -704px -576px; }
.firearm-magazine { width: 64px; height: 64px; background-position: -768px -576px; }
.piercing-rounds-magazine { width: 64px; height: 64px; background-position: -832px -576px; }
.uranium-rounds-magazine { width: 64px; height: 64px; background-position: -896px -576px; }
.shotgun-shell { width: 64px; height: 64px; background-position: -960px -576px; }
.piercing-shotgun-shell { width: 64px; height: 64px; background-position: 0px -640px; }
.cannon-shell { width: 64px; height: 64px; background-position: -64px -640px; }
.explosive-cannon-shell { width: 64px; height: 64px; background-position: -128px -640px; }
.uranium-cannon-shell { width: 64px; height: 64px; background-position: -192px -640px; }
.explosive-uranium-cannon-shell { width: 64px; height: 64px; background-position: -256px -640px; }
.artillery-shell { width: 64px; height: 64px; background-position: -320px -640px; }
.rocket { width: 64px; height: 64px; background-position: -384px -640px; }
.explosive-rocket { width: 64px; height: 64px; background-position: -448px -640px; }
.atomic-bomb { width: 64px; height: 64px; background-position: -512px -640px; }
.flamethrower-ammo { width: 64px; height: 64px; background-position: -576px -640px; }
.grenade { width: 64px; height: 64px; background-position: -640px -640px; }
.cluster-grenade { width: 64px; height: 64px; background-position: -704px -640px; }
.poison-capsule { width: 64px; height: 64px; background-position: -768px -640px; }
.slowdown-capsule { width: 64px; height: 64px; background-position: -832px -640px; }
.defender-capsule { width: 64px; height: 64px; background-position: -896px -640px; }
.distractor-capsule { width: 64px; height: 64px; background-position: -960px -640px; }
.destroyer-capsule { width: 64px; height: 64px; background-position: 0px -704px; }
.discharge-defense-remote { width: 64px; height: 64px; background-position: -64px -704px; }
.artillery-targeting-remote { width: 64px; height: 64px; background-position: -128px -704px; }
.light-armor { width: 64px; height: 64px; background-position: -192px -704px; }
.heavy-armor { width: 64px; height: 64px; background-position: -256px -704px; }
.modular-armor { width: 64px; height: 64px; background-position: -320px -704px; }
.power-armor { width: 64px; height: 64px; background-position: -384px -704px; }
.power-armor-mk2 { width: 64px; height: 64px; background-position: -448px -704px; }
.solar-panel-equipment { width: 64px; height: 64px; background-position: -512px -704px; }
.fusion-reactor-equipment { width: 64px; height: 64px; background-position: -576px -704px; }
.energy-shield-equipment { width: 64px; height: 64px; background-position: -640px -704px; }
.energy-shield-mk2-equipment { width: 64px; height: 64px; background-position: -704px -704px; }
.battery-equipment { width: 64px; height: 64px; background-position: -768px -704px; }
.battery-mk2-equipment { width: 64px; height: 64px; background-position: -832px -704px; }
.personal-laser-defense-equipment { width: 64px; height: 64px; background-position: -896px -704px; }
.discharge-defense-equipment { width: 64px; height: 64px; background-position: -960px -704px; }
.belt-immunity-equipment { width: 64px; height: 64px; background-position: 0px -768px; }
.exoskeleton-equipment { width: 64px; height: 64px; background-position: -64px -768px; }
.personal-roboport-equipment { width: 64px; height: 64px; background-position: -128px -768px; }
.personal-roboport-mk2-equipment { width: 64px; height: 64px; background-position: -192px -768px; }
.night-vision-equipment { width: 64px; height: 64px; background-position: -256px -768px; }
.stone-wall { width: 64px; height: 64px; background-position: -320px -768px; }
.gate { width: 64px; height: 64px; background-position: -384px -768px; }
.gun-turret { width: 64px; height: 64px; background-position: -448px -768px; }
.laser-turret { width: 64px; height: 64px; background-position: -512px -768px; }
.flamethrower-turret { width: 64px; height: 64px; background-position: -576px -768px; }
.artillery-turret { width: 64px; height: 64px; background-position: -640px -768px; }
.radar { width: 64px; height: 64px; background-position: -704px -768px; }
.rocket-silo { width: 64px; height: 64px; background-position: -768px -768px; }
.wood { width: 64px; height: 64px; background-position: -832px -768px; }
.coal { width: 64px; height: 64px; background-position: -896px -768px; }
.stone { width: 64px; height: 64px; background-position: -960px -768px; }
.iron-ore { width: 64px; height: 64px; background-position: 0px -832px; }
.copper-ore { width: 64px; height: 64px; background-position: -64px -832px; }
.uranium-ore { width: 64px; height: 64px; background-position: -128px -832px; }
.raw-fish { width: 64px; height: 64px; background-position: -192px -832px; }
.solid-fuel { width: 64px; height: 64px; background-position: -256px -832px; }
.crude-oil-barrel { width: 64px; height: 64px; background-position: -320px -832px; }
.heavy-oil-barrel { width: 64px; height: 64px; background-position: -384px -832px; }
.light-oil-barrel { width: 64px; height: 64px; background-position: -448px -832px; }
.lubricant-barrel { width: 64px; height: 64px; background-position: -512px -832px; }
.petroleum-gas-barrel { width: 64px; height: 64px; background-position: -576px -832px; }
.sulfuric-acid-barrel { width: 64px; height: 64px; background-position: -640px -832px; }
.water-barrel { width: 64px; height: 64px; background-position: -704px -832px; }
.uranium-235 { width: 64px; height: 64px; background-position: -768px -832px; }
.uranium-238 { width: 64px; height: 64px; background-position: -832px -832px; }
.used-up-uranium-fuel-cell { width: 64px; height: 64px; background-position: -896px -832px; }
.space-science-pack { width: 64px; height: 64px; background-position: -960px -832px; }
.water { width: 64px; height: 64px; background-position: 0px -896px; }
.crude-oil { width: 64px; height: 64px; background-position: -64px -896px; }
.steam { width: 64px; height: 64px; background-position: -128px -896px; }
.heavy-oil { width: 64px; height: 64px; background-position: -192px -896px; }
.light-oil { width: 64px; height: 64px; background-position: -256px -896px; }
.petroleum-gas { width: 64px; height: 64px; background-position: -320px -896px; }
.module { width: 64px; height: 64px; background-position: -384px -896px; }
.time { width: 64px; height: 64px; background-position: -448px -896px; }
.logistics { width: 96px; height: 96px; background-position: 0px 0px; }
.production { width: 96px; height: 96px; background-position: -96px 0px; }
.combat { width: 96px; height: 96px; background-position: 0px -96px; }
.intermediate-products { width: 96px; height: 96px; background-position: -96px -96px; }
